<div class="shadow m-lg-5 mt-lg-5">
    <h1 class="justify-content-center align-items-center text-center text-dark fst-italic fw-bolder">Forget Password</h1>
    <span class="m-4">Enter Your Email and We'll Send You Instructions On How To Reset Your Password</span>
    <form [formGroup]="forgetForm" class="m-lg-4">
        <!-- email -->
        <div class="input-group">
            <span class="input-group-text">
                <i class="fa-solid fa-user"></i>
            </span>
            <input formControlName="Email" type="email"  class="form-control form-control-lg fs-6"  placeholder="email">
        </div>
        <span *ngIf="this.forgetForm.get('Email')?.errors && this.forgetForm.get('Email')?.touched" class="validation">*Email is Required</span>
        
    
        
        <!-- password -->
        <!-- <div class="input-group mt-3">
            <span class="input-group-text">
                <i class="fa-solid fa-lock"></i>
            </span>
            <input formControlName="Password" type="password"  class="form-control form-control-lg fs-6"  placeholder="Password">
        </div> -->
        <span *ngIf="this.forgetForm.get('Password')?.errors && this.forgetForm.get('Password')?.touched" class="validation">*Password is Required</span>
        
<div class="mt-5">
            <button [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" (click)="submit()" class="btn btn-primary me-4">submit</button>
            <button routerLink="" class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>
    </form>
</div>