<app-main-nav>
<!-- dashboard -->
<div class="dashboard p-3 w-100 main">
    <!-- full display panel -->
    <div class="row">
      <div
      style="
        height: 130px;
        background-image: url('https://t3.ftcdn.net/jpg/06/29/98/02/360_F_629980245_mFe5wZfygCLdfp5N7A6hbfRYpmNY7SJW.jpg');
        background-size: cover;
        overflow: hidden;

      "
      class="admin-panel border rounded mb-1 shadow"
    >
      <h1 class="text-dark fs-4 text-center fw-bold py-5 fst-italic">
        Sneakers
      </h1>
    </div>

    <div  class="col-lg-6 border rounded shadow">
      <app-graph-one></app-graph-one>
    </div>
    <div  class="col-lg-6 border rounded shadow">
      <app-graph-two></app-graph-two>
    </div>

    </div>
</div>

</app-main-nav>
