<footer class="bg-secondary">
    <div class="footerLeft">
        <div class="footerMenu">
            <h1 class="fMenuTitle text-decoration-underline">About Us</h1>
            <ul class="fList">
                <li class="fListItem ms-1 text-danger fw-bolder">Company</li>
                <li class="fListItem ms-1">Contact</li>
                <li class="fListItem ms-1">Careers</li>
                <li class="fListItem ms-1">Affiliates</li>
                <li class="fListItem ms-1">Stores</li>
            </ul>
        </div>
        <div class="footerMenu">
            <h1 class="fMenuTitle text-decoration-underline">Useful Links</h1>
            <ul class="fList">
                <li class="fListItem ms-1 text-danger fw-bolder">Support</li>
                <li class="fListItem ms-1">Refund</li>
                <li class="fListItem ms-1">FAQ</li>
                <li class="fListItem ms-1">Feedback</li>
                <li class="fListItem ms-1">Stories</li>
            </ul>
        </div>
        <div class="footerMenu">
            <h1 class="fMenuTitle text-decoration-underline">Products</h1>
            <ul class="fList">
                <li class="fListItem ms-1 text-danger fw-bolder">Air Force</li>
                <li class="fListItem ms-1">Air Jordan</li>
                <li class="fListItem ms-1">Blazer</li>
                <li class="fListItem ms-1">Crater</li>
                <li class="fListItem ms-1">Hippie</li>
            </ul>
        </div>
    </div>
    <div class="footerRight">
        <div class="footerRightMenu">
            <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
            <div class="fMail">
                <input type="text" placeholder="your@email.com" class="fInput">
                <button class="fButton">Join!</button>
            </div>
        </div>
        <div class="footerRightMenu">
            <h1 class="fMenuTitle">Follow Us</h1>
            <div class="fIcons">
                <i class="fa-brands fa-facebook me-2"></i>
                <i class="fa-brands fa-twitter me-2"></i>
                <i class="fa-brands fa-instagram me-2"></i>
                <i class="fa-brands fa-whatsapp me-2"></i>
            </div>
        </div>
        <div class="footerRightMenu">
            <span class="copyright">@Sneakers Club. All rights Are Reserved@2024</span>
        </div>
    </div>
</footer>