
.total{
  background-color: burlywood;
  height: 100vh;
}
h1{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 34px;
  border-bottom: 2px solid green;
}
.btn-section{
  margin-left: 42%;
}
/* label{
  font-family: "Madimi One", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
} */